@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@500&family=Itim&family=Pacifico&display=swap');

.test{
    font-family: "Edu AU VIC WA NT Arrows", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 200;
    font-style: normal;
    letter-spacing: 0.1em;

  }
  .check{
    position: relative;
  }
  .check:hover::after{
    background: rgba(136, 131, 131, 0.379);
    color: rgba(255, 255, 255, 0.45);
    content:"Twittor"
  }
  .check::after{
    content:"";
    position: absolute;
    top:-100%;
    left:50%;
    border-radius: 2px;
    padding: 2px;
    padding-inline: 4px;
    font-size: 10px;
    height:80%;
  }
 .eff:hover{
fill:skyblue;
 }

 .linkedinsvg:hover{
  fill:skyblue;
 }


 .linkedin{
  position: relative;
  margin-top: 2px;
 }

 .linkedin::after{
  content:"";
    position: absolute;
    top:-100%;
    left:50%;
    border-radius: 2px;
    padding: 2px;
    padding-inline: 4px;
    font-size: 10px;
    height:80%;
 }
 .linkedin:hover::after{
  background: rgba(136, 131, 131, 0.379);
  color: rgba(255, 255, 255, 0.45);
  content:"LinkedIn"
}

.email{
position: relative;
}

.emailsvg:hover{
  fill:skyblue;
}
.email::after{
  content:"";
  position: absolute;
  top:-100%;
  left:50%;
  border-radius: 2px;
  padding: 2px;
  padding-inline: 4px;
  font-size: 10px;
  height:80%;
}
.email:hover::after{
  background: rgba(136, 131, 131, 0.379);
  color: rgba(255, 255, 255, 0.45);
  content:"Email"
}